<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<!-- Navigation Menu -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="logo">MAV</a>
        <ul class="nav-links">
            <li><a href="/">Főoldal</a></li>
            <li><a href="/login">Bejelentkezés</a></li>
            <li><a href="/register">Regisztráció</a></li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<div class="content">
    <h1>Fejlesztés alatt!</h1>
    <p>Nagyon jó lesz, hidd el!!!</p>
</div>

</body>
</html>
